.modalOverlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.modalBox {
  width: 90%;
  max-height: 90%;
  background: var(--white);
  border-radius: 4px;
  overflow-y: auto;

  @media (min-width: 1120px) {
    width: 500px;
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  padding: clamp(9px, 6vw, 13px) clamp(9px, 6vw, 22px);
  background-color: var(--gray-2);
  border-radius: 4px 4px 0 0;

  & > button {
    color: var(--gray-1);
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: clamp(14px, 6vw, 18px) clamp(18px, 6vw, 22px) clamp(25px, 6vw, 32px)
    clamp(18px, 6vw, 22px);
  background-color: var(--gray-3);
}
